.image-size {
  width: 150px;
  height: 150px;
}
html {
  font-size: 10px;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  background-color: #ededed;
  color: #363636;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.8em;
}
p {
  font-size: 1.3em;
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header > * {
  text-align: center;
  padding: 10px;
}
img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: calc(50% - 75px);
}
.container {
  padding: 10px;
  background-color: #fff;
  margin: 20px;
  padding-top: 75px ;
  margin-top: 100px;
}
.person-description {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  margin: 20px;
}
ul > li {
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
}
.content {
  background-color: #ededed;
  margin: 20px;
  width: 100%;
}
.description {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  padding: 10px;
}
article {
  margin: 20px;
}
section {
  margin: 20px;
}
h1.title {
  color: #EC7263;
}
h2.title {
  padding: 10px;
}
span {
  font-weight: bold;
  margin: 20px;
  font-size: 1.5rem;
}
